<ion-view title="Champions">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <style>

        .item-firstletter h1 {
            display: inline-block;
            float: left;
            margin-right: 20px;
            margin-bottom: 0;
            font-size: 24px;
            line-height: 1em;
            width: 23px;
        }

        .championiconcontainer {
            overflow: hidden;
        }

        .championicon {
            zoom:0.5;
            float: left;
        }

        .platform-ipad .championicon {
            zoom: 1;
        }

        .platform-ipad .item-firstletter h1 {
            font-size: 48px;
            width: 46px;
            margin-right: 40px;
            text-align: center;
        }
      </style>

    <div class="list">

        <a ng-repeat="letter in letters" class="item item-firstletter item-icon-right" ui-sref="app.pickbyletter({letter: letter.letter })">
            <h1>{{ letter.letter }}</h1>
            <div class="championiconcontainer">
                <champion-icon ng-repeat="champion in letter.champions" name="champion.id" size="sprite"></champion-icon>
            </div>

            <i class="icon ion-chevron-right"></i>
        </a>

    </div>
  </ion-content>
</ion-view>
