 <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.alliterativeanimals.aramcram" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ARAM Cram</name>
  <description>
        Cram up on your League of Legends ARAM champion while you're waiting for the match to start.
    </description>
  <author email="davidmatthewgodfrey@gmail.com">
      Alliterative Animals
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
